.parent{
    width: 100%;
    margin: 0;
    text-align:left;
}




.header {
    float: left;
    width: 20%;
    height: 650px;
    padding-top: 50px;
    text-align: center;
    border: 1px solid #efefef;
    background:rgb(101,165,250);
}
h1{
    color:white;
}